In [102]:
from llama_cpp import Llama
import json
import graphviz
import numpy as np

In [4]:
schema_path = "schemas/schema_en.sql"
schema = open(schema_path, "r").read()

In [6]:
template = open("templates/gemini_fix_template.txt", "r").read()
print(template.format(schema=schema, 
                      question="List the name and capital of companies registered in the state of 'SP' with a capital greater than 1,000,000", 
                      predicted="select * from carro",
                      error="no such table: carro"))

Instruction:
You will be provided with a user question, the schema of a database along with two sample rows from each table, the SQL code previous produced, and finally the sqlite error.
Your task is to fix the provided SQL query using a chain of thought, with the final step being the Corrected SQL query itself. This chain of thought should clearly explain the reasoning process step-by-step.

Input:
User Question: List the name and capital of companies registered in the state of 'SP' with a capital greater than 1,000,000
Schema:
CREATE TABLE company (
	basic_cnpj TEXT,
	name TEXT,
	capital DOUBLE,
	responsible_federal_entity TEXT,
	legal_nature_code INTEGER,
	responsible_qualification_code INTEGER,
	company_size_code INTEGER,
	PRIMARY KEY (basic_cnpj),
	FOREIGN KEY(basic_cnpj) REFERENCES establishment (basic_cnpj),
	FOREIGN KEY(legal_nature_code) REFERENCES legal_nature (code),
	FOREIGN KEY(responsible_qualification_code) REFERENCES qualification (code),
	FOREIGN KEY(company_size_code) REFERENCES company_size (code)
)

CREATE TABLE establishment (
	basic_cnpj TEXT,
	order_cnpj TEXT,
	cnpj_verification_digit TEXT,
	main_or_branch TEXT,
	name TEXT,
	start_activity_date DATE,
	primary_cnae_code INTEGER,
	secondary_cnae_code TEXT,
	city_code INTEGER,
	state TEXT,
	country_code INTEGER,
	foreign_city_name TEXT,
	special_status TEXT,
	registration_status_code INTEGER,
	registration_status_reason_code INTEGER,
	PRIMARY KEY (basic_cnpj, order_cnpj, cnpj_verification_digit),
	FOREIGN KEY(primary_cnae_code) REFERENCES cnae (code),
	FOREIGN KEY(city_code) REFERENCES city (code),
	FOREIGN KEY(country_code) REFERENCES country (code),
	FOREIGN KEY(registration_status_code) REFERENCES registration_status (code),
	FOREIGN KEY(registration_status_reason_code) REFERENCES registration_status_reason (code)
)

CREATE TABLE partner (
	basic_cnpj TEXT,
	name TEXT,
	cpf_or_cnpj TEXT,
	legal_representative_cpf TEXT,
	legal_representative_name TEXT,
	partner_type_code INTEGER,
	partner_qualification_code INTEGER,
	country_code INTEGER,
	legal_representative_qualification_code INTEGER,
	age_range_code INTEGER,
	FOREIGN KEY(basic_cnpj) REFERENCES establishment (basic_cnpj),
	FOREIGN KEY(partner_type_code) REFERENCES partner_type (code),
	FOREIGN KEY(partner_qualification_code) REFERENCES qualification (code),
	FOREIGN KEY(legal_representative_qualification_code) REFERENCES qualification (code),
	FOREIGN KEY(country_code) REFERENCES country (code),
	FOREIGN KEY(age_range_code) REFERENCES age_range (code)
)

CREATE TABLE taxation (
	basic_cnpj TEXT,
	option_for_simples_taxation CHAR,
	option_for_mei_taxation CHAR,
	simples_taxation_option_date DATE,
	simples_taxation_exclusion_date DATE,
	mei_taxation_option_date DATE,
	mei_taxation_exclusion_date DATE,
	FOREIGN KEY(basic_cnpj) REFERENCES establishment (basic_cnpj)
)

CREATE TABLE age_range (
	code INTEGER,
	description TEXT,
	PRIMARY KEY (code)
)

CREATE TABLE city (
	code INTEGER,
	name TEXT,
	PRIMARY KEY (code)
)

CREATE TABLE cnae (
	code INTEGER,
	name TEXT,
	PRIMARY KEY (code)
)

CREATE TABLE company_size (
	code INTEGER,
	description TEXT,
	PRIMARY KEY (code)
)

CREATE TABLE country (
	code INTEGER,
	name TEXT,
	PRIMARY KEY (code)
)

CREATE TABLE legal_nature (
	code INTEGER,
	description TEXT,
	PRIMARY KEY (code)
)

CREATE TABLE partner_type (
	code INTEGER,
	description TEXT,
	PRIMARY KEY (code)
)

CREATE TABLE qualification (
	code INTEGER,
	description TEXT,
	PRIMARY KEY (code)
)

CREATE TABLE registration_status (
	code INTEGER,
	description TEXT,
	PRIMARY KEY (code)
)

CREATE TABLE registration_status_reason (
	code INTEGER,
	description TEXT,
	PRIMARY KEY (code)
)

SQL Query with Errors:
```sql
select * from carro
```

Sqlite Error:
```python
no such table: carro
```


### Example (Note that the user's question may require a different number of steps):
User Question: What are the names of all employees in the 'Sales' department?
Schema:

CREATE TABLE employees (
  employee_id INTEGER PRIMARY KEY,
  first_name TEXT NOT NULL,
  last_name TEXT NOT NULL,
  department_id INTEGER NOT NULL,
  FOREIGN KEY (department_id) REFERENCES departments(department_id)
);

/*
2 rows from employees table:
employee_id  first_name  last_name  department_id
1            John         Doe          2
2            Jane         Smith        1
*/

CREATE TABLE departments (
  department_id INTEGER PRIMARY KEY,
  department_name TEXT NOT NULL
);


/*
2 rows from departments table:
department_id  department_name
1               Sales
2               Engineering
*/


SQL Query with Errors:
```sql
SELECT first_name, last_name
FROM employees
WHERE department_name = 'Sales';
```

Sqlite Error:
```python
no such column: department_name
```

### Chain of Thought to Fix the Query:

1. **Identify the tables involved:**
   - The `employees` table contains the employees' first and last names.
   - The `departments` table contains the department names.

2. **Analyze the incorrect SQL:**
   - The `employees` table does not have a `department_name` column.
   - We need to use the `department_id` to join the `employees` table with the `departments` table.

3. **Determine the correct relationship:**
   - The `department_id` in the `employees` table should match the `department_id` in the `departments` table.
   - We need to filter the results where `department_name` is 'Sales'.

4. **Construct the JOIN clause:**
   - Use an INNER JOIN to combine the `employees` and `departments` tables on the `department_id`.

Final SQL Query:

```sql
SELECT e.first_name, e.last_name
FROM employees e
INNER JOIN departments d ON e.department_id = d.department_id
WHERE d.department_name = 'Sales';
```

### Now, it's your turn:

User Question: List the name and capital of companies registered in the state of 'SP' with a capital greater than 1,000,000
Schema:
CREATE TABLE company (
	basic_cnpj TEXT,
	name TEXT,
	capital DOUBLE,
	responsible_federal_entity TEXT,
	legal_nature_code INTEGER,
	responsible_qualification_code INTEGER,
	company_size_code INTEGER,
	PRIMARY KEY (basic_cnpj),
	FOREIGN KEY(basic_cnpj) REFERENCES establishment (basic_cnpj),
	FOREIGN KEY(legal_nature_code) REFERENCES legal_nature (code),
	FOREIGN KEY(responsible_qualification_code) REFERENCES qualification (code),
	FOREIGN KEY(company_size_code) REFERENCES company_size (code)
)

CREATE TABLE establishment (
	basic_cnpj TEXT,
	order_cnpj TEXT,
	cnpj_verification_digit TEXT,
	main_or_branch TEXT,
	name TEXT,
	start_activity_date DATE,
	primary_cnae_code INTEGER,
	secondary_cnae_code TEXT,
	city_code INTEGER,
	state TEXT,
	country_code INTEGER,
	foreign_city_name TEXT,
	special_status TEXT,
	registration_status_code INTEGER,
	registration_status_reason_code INTEGER,
	PRIMARY KEY (basic_cnpj, order_cnpj, cnpj_verification_digit),
	FOREIGN KEY(primary_cnae_code) REFERENCES cnae (code),
	FOREIGN KEY(city_code) REFERENCES city (code),
	FOREIGN KEY(country_code) REFERENCES country (code),
	FOREIGN KEY(registration_status_code) REFERENCES registration_status (code),
	FOREIGN KEY(registration_status_reason_code) REFERENCES registration_status_reason (code)
)

CREATE TABLE partner (
	basic_cnpj TEXT,
	name TEXT,
	cpf_or_cnpj TEXT,
	legal_representative_cpf TEXT,
	legal_representative_name TEXT,
	partner_type_code INTEGER,
	partner_qualification_code INTEGER,
	country_code INTEGER,
	legal_representative_qualification_code INTEGER,
	age_range_code INTEGER,
	FOREIGN KEY(basic_cnpj) REFERENCES establishment (basic_cnpj),
	FOREIGN KEY(partner_type_code) REFERENCES partner_type (code),
	FOREIGN KEY(partner_qualification_code) REFERENCES qualification (code),
	FOREIGN KEY(legal_representative_qualification_code) REFERENCES qualification (code),
	FOREIGN KEY(country_code) REFERENCES country (code),
	FOREIGN KEY(age_range_code) REFERENCES age_range (code)
)

CREATE TABLE taxation (
	basic_cnpj TEXT,
	option_for_simples_taxation CHAR,
	option_for_mei_taxation CHAR,
	simples_taxation_option_date DATE,
	simples_taxation_exclusion_date DATE,
	mei_taxation_option_date DATE,
	mei_taxation_exclusion_date DATE,
	FOREIGN KEY(basic_cnpj) REFERENCES establishment (basic_cnpj)
)

CREATE TABLE age_range (
	code INTEGER,
	description TEXT,
	PRIMARY KEY (code)
)

CREATE TABLE city (
	code INTEGER,
	name TEXT,
	PRIMARY KEY (code)
)

CREATE TABLE cnae (
	code INTEGER,
	name TEXT,
	PRIMARY KEY (code)
)

CREATE TABLE company_size (
	code INTEGER,
	description TEXT,
	PRIMARY KEY (code)
)

CREATE TABLE country (
	code INTEGER,
	name TEXT,
	PRIMARY KEY (code)
)

CREATE TABLE legal_nature (
	code INTEGER,
	description TEXT,
	PRIMARY KEY (code)
)

CREATE TABLE partner_type (
	code INTEGER,
	description TEXT,
	PRIMARY KEY (code)
)

CREATE TABLE qualification (
	code INTEGER,
	description TEXT,
	PRIMARY KEY (code)
)

CREATE TABLE registration_status (
	code INTEGER,
	description TEXT,
	PRIMARY KEY (code)
)

CREATE TABLE registration_status_reason (
	code INTEGER,
	description TEXT,
	PRIMARY KEY (code)
)

SQL Query with Errors:
```sql
select * from carro
```

Sqlite Error:
```python
no such table: carro
```

### Chain of Thought to Fix the Query:

In [104]:
def softmax(x, axis=0):
    """
    Compute the softmax of vector x.
    
    Parameters:
    x (ndarray): Input array or matrix.
    
    Returns:
    ndarray: Softmax of input.
    """
    e_x = np.exp(x - np.max(x))  # subtracting max for numerical stability
    return e_x / e_x.sum(axis=axis)

In [ ]:
model_path = "models/stable_code_Q8_0.gguf"
model = Llama(model_path=model_path, n_ctx=4096, logits_all=True)

In [156]:
schema_path = "schemas/schema_en.sql"
schema = open(schema_path, "r").read()

question = "List name and number of companies the are in the top 10 companies by number of establishments in the city of limas. "
messages = [
        {
            "role": "schema",
            "content": schema
        },
        {
            "role": "user",
            "content": question
        }]

In [157]:
ans = model.create_chat_completion(messages, logprobs=True, top_logprobs=5, temperature=-1)

Llama.generate: prefix-match hit

llama_print_timings:        load time =   30260.37 ms
llama_print_timings:      sample time =     316.92 ms /     1 runs   (  316.92 ms per token,     3.16 tokens per second)
llama_print_timings: prompt eval time =       0.00 ms /     0 tokens (    -nan ms per token,     -nan tokens per second)
llama_print_timings:        eval time =   11959.07 ms /    63 runs   (  189.83 ms per token,     5.27 tokens per second)
llama_print_timings:       total time =   12335.19 ms /    63 tokens

In [158]:
from pprint import pprint

In [159]:
print(ans['choices'][0]['message']['content'])

SELECT T2.name,
       COUNT (*)
FROM establishment AS T1
JOIN city AS T2 ON T1.city_code = T2.code
GROUP BY T2.name
ORDER BY COUNT (*) DESC
LIMIT 10;<|end|>

In [160]:
print(ans['choices'][0]['message']['content'])

SELECT T2.name,
       COUNT (*)
FROM establishment AS T1
JOIN city AS T2 ON T1.city_code = T2.code
GROUP BY T2.name
ORDER BY COUNT (*) DESC
LIMIT 10;<|end|>

In [161]:
pprint(ans['choices'][0]['logprobs'])

{'text_offset': [1177,
                 1177,
                 1183,
                 1185,
                 1186,
                 1187,
                 1191,
                 1192,
                 1193,
                 1200,
                 1205,
                 1208,
                 1209,
                 1210,
                 1214,
                 1228,
                 1231,
                 1233,
                 1234,
                 1235,
                 1237,
                 1239,
                 1244,
                 1247,
                 1249,
                 1250,
                 1253,
                 1255,
                 1256,
                 1257,
                 1261,
                 1262,
                 1266,
                 1268,
                 1270,
                 1271,
                 1272,
                 1276,
                 1277,
                 1282,
                 1285,
                 1287,
                 1288,
                 1289,
                 1293,
                 1294,
                 1299,
                 1302,
                 1308,
                 1311,
                 1312,
                 1316,
                 1317,
                 1318,
                 1321,
                 1323,
                 1326,
                 1327,
                 1327,
                 1328,
                 1329,
                 1332],
 'token_logprobs': [-0.6671033,
                    -0.008139062,
                    -0.56620336,
                    -0.9350636,
                    -0.00089557597,
                    -0.018512566,
                    -0.74538934,
                    -0.017515266,
                    -0.052555937,
                    -0.6166073,
                    -2.5007505,
                    -0.015452539,
                    -0.0031223376,
                    -1.1801649e-05,
                    -1.7941467,
                    -0.00059717946,
                    -0.0033980028,
                    -0.002483738,
                    -3.4450895e-05,
                    -0.0019763238,
                    -9.5367386e-07,
                    -0.07205786,
                    -0.00027164107,
                    -0.0027084593,
                    -0.005097606,
                    -0.002269433,
                    -0.0011007686,
                    -0.054512903,
                    -0.00025507537,
                    -0.0034557409,
                    -0.0016323111,
                    -0.0031625042,
                    -2.3603161e-05,
                    -0.00026365617,
                    -0.00059086503,
                    -0.00015722468,
                    -0.011780927,
                    -0.0023612494,
                    -0.34346023,
                    -6.556489e-06,
                    -0.02556145,
                    -0.21961167,
                    -0.0002032312,
                    -0.03789256,
                    -0.2238958,
                    -0.024902489,
                    -0.00012885693,
                    -0.066835925,
                    -0.075426966,
                    -0.00071809726,
                    -0.0072861654,
                    -4.053034e-05,
                    -0.0041814516,
                    -0.0019280193,
                    -7.879425e-05,
                    -0.5222331,
                    -0.124065764,
                    -0.06543838,
                    -5.3644035e-06,
                    -3.004029e-05,
                    -0.00072941394,
                    -2.3841855e-07],
 'tokens': ['',
            'SELECT',
            ' T',
            '2',
            '.',
            'name',
            ',',
            '\n',
            '       ',
            'COUNT',
            ' (*',
            ')',
            '\n',
            'FROM',
            ' establishment',
            ' AS',
            ' T',
            '1',
            '\n',
            'JO',
            'IN',
            ' city',
            ' AS',
            ' T',
            '2',
            ' ON',
            ' T',
            '1',
            '.',
            'city',
            '_',
            'code',
            ' =',
            ' T',
            '2',
            '.',
            'code',
            '\n',
            'GROUP',
            ' BY',
            ' T',
            '2',
            '.',
            'name',
            '\n',
            'ORDER',
            ' BY',
            ' COUNT',
            ' (*',
            ')',
            ' DES',
            'C',
            '\n',
            'LIM',
            'IT',
            ' 10',
            ';',
            '',
            '<',
            '|',
            'end',
            '|>'],
 'top_logprobs': [{'': -0.6671033, ' residential': -8.249733, '\x92': -8.23506},
                  {'CREATE': -7.116709,
                   'FROM': -7.1500564,
                   'JO': -7.6017385,
                   'SELECT': -0.008139062,
                   'city': -7.6179996},
                  {' COUNT': -3.812095,
                   ' T': -0.56620336,
                   ' count': -5.1101713,
                   ' name': -3.5303776,
                   ' t': -1.0470078},
                  {'1': -0.62815213,
                   '2': -0.9350636,
                   '3': -2.7087872,
                   '4': -5.1251383,
                   '5': -7.5942926},
                  {' .': -7.3013926,
                   ',': -10.852265,
                   '.': -0.00089557597,
                   '._': -10.361329,
                   'name': -10.786561},
                  {'`': -7.2163982,
                   'city': -5.1076717,
                   'company': -5.041916,
                   'name': -0.018512566,
                   'number': -7.0979977},
                  {'\n': -1.9894537,
                   ' ,': -0.96086824,
                   ' AS': -6.0170875,
                   ',': -0.74538934,
                   '_': -7.3245654},
                  {'\n': -0.017515266,
                   ' \n': -5.8277035,
                   ' COUNT': -5.132661,
                   ' T': -5.617647,
                   ' count': -6.0958595},
                  {'       ': -0.052555937,
                   '            ': -5.103919,
                   '              ': -5.5464163,
                   '               ': -4.7982492,
                   '                ': -3.4787645},
                  {'COUNT': -0.6166073,
                   'SUM': -3.1709971,
                   'T': -2.799995,
                   'count': -1.0688893,
                   'sum': -5.273454},
                  {' (': -0.17071827,
                   ' (*': -2.5007505,
                   ' (,': -4.6096106,
                   '(': -2.7486715,
                   '(*': -7.492215},
                  {' )': -6.2237635,
                   ')': -0.015452539,
                   '))': -9.119754,
                   '),': -4.346011,
                   ',': -10.010896},
                  {'\n': -0.0031223376,
                   ' ,': -9.285339,
                   ' --': -9.103512,
                   ' /': -6.698819,
                   ' AS': -6.7167053},
                  {'  ': -14.931686,
                   ' FROM': -14.689777,
                   'FROM': -1.1801649e-05,
                   'From': -11.683243,
                   'IN': -13.241394},
                  {' address': -3.1813784,
                   ' cities': -4.595131,
                   ' city': -0.51991856,
                   ' establishment': -1.7941467,
                   ' registration': -3.9040546},
                  {'\n': -11.053028,
                   ' AS': -0.00059717946,
                   ' As': -10.720018,
                   ',': -11.124951,
                   '_': -7.7588186},
                  {' T': -0.0033980028,
                   ' TABLE': -10.390005,
                   ' Table': -12.115742,
                   ' t': -5.712796,
                   ' table': -10.680104},
                  {'\n': -11.009111,
                   '1': -0.002483738,
                   '2': -6.1421742,
                   '3': -8.337395,
                   '4': -9.784888},
                  {'\n': -3.4450895e-05,
                   '\n\n': -13.372066,
                   ' JOIN': -12.942145,
                   ',': -10.660061,
                   'JO': -13.159164},
                  {'  ': -7.5911336,
                   'IN': -6.800694,
                   'JO': -0.0019763238,
                   'LEFT': -8.5475445,
                   'RIGHT': -9.88863},
                  {'IN': -9.5367386e-07,
                   'INE': -16.335817,
                   'INS': -17.240837,
                   'INT': -13.966428,
                   'IT': -17.652458},
                  {' cities': -6.516741,
                   ' city': -0.07205786,
                   ' company': -4.7466993,
                   ' country': -3.1308444,
                   ' establishment': -5.1808376},
                  {' AS': -0.00027164107,
                   ' As': -9.893395,
                   ' ON': -11.269802,
                   ' as': -11.164435,
                   '_': -8.8720875},
                  {' C': -11.81962,
                   ' L': -12.661098,
                   ' T': -0.0027084593,
                   ' city': -12.457696,
                   ' t': -5.9260674},
                  {'2': -0.005097606,
                   '3': -6.065427,
                   '4': -5.9497786,
                   '5': -9.718969,
                   '6': -9.651504},
                  {'\n': -6.118242,
                   ' ON': -0.002269433,
                   ' US': -10.407671,
                   ' on': -11.158985,
                   '_': -12.10823},
                  {' (': -10.8626375,
                   ' STR': -8.730667,
                   ' T': -0.0011007686,
                   ' str': -9.51966,
                   ' t': -7.2423086},
                  {' 1': -13.198237,
                   '1': -0.054512903,
                   '2': -2.93756,
                   '3': -10.248731,
                   '4': -12.196235},
                  {' .': -11.186087,
                   '.': -0.00025507537,
                   '."': -9.519519,
                   '.<': -11.975539,
                   '._': -8.913581},
                  {'`': -7.6860614,
                   'c': -8.491859,
                   'city': -0.0034557409,
                   'country': -7.5670695,
                   'state': -6.9324794},
                  {'\n': -10.848976,
                   ' =': -7.8027015,
                   '_': -0.0016323111,
                   'code': -6.8646274,
                   'id': -10.183349},
                  {'city': -8.912262,
                   'co': -9.254141,
                   'code': -0.0031625042,
                   'id': -6.100069,
                   'name': -8.660576},
                  {'\n': -12.741233,
                   '  ': -12.093467,
                   ' =': -2.3603161e-05,
                   '1': -13.903323,
                   '_': -12.455506},
                  {'\n': -9.562919,
                   ' =': -11.008093,
                   ' T': -0.00026365617,
                   ' t': -8.891919,
                   'T': -11.874893},
                  {'\n': -11.7783575,
                   '1': -7.81405,
                   '2': -0.00059086503,
                   '3': -9.008311,
                   '4': -10.398378},
                  {'\n': -13.187238,
                   ' .': -9.195613,
                   '.': -0.00015722468,
                   '.<': -12.846181,
                   '._': -10.26278},
                  {' code': -8.907946,
                   '`': -8.952142,
                   'city': -4.5077467,
                   'code': -0.011780927,
                   'id': -9.346478},
                  {'': -9.036115,
                   '\n': -0.0023612494,
                   ' WHERE': -7.1901236,
                   ';': -7.728837},
                  {'AND': -6.4503727,
                   'GR': -6.570697,
                   'GROUP': -0.34346023,
                   'JO': -2.7301352,
                   'WHERE': -1.5207654},
                  {'  ': -12.884707,
                   ' BY': -6.556489e-06,
                   ' By': -13.240573,
                   ' ON': -15.969382,
                   ' by': -13.404712},
                  {' 1': -5.2951612,
                   ' COUNT': -6.7676153,
                   ' T': -0.02556145,
                   ' city': -4.5340824,
                   ' t': -5.725499},
                  {'1': -1.6391807,
                   '2': -0.21961167,
                   '3': -6.088474,
                   '4': -7.832051,
                   '5': -9.332188},
                  {'\n': -9.89512,
                   ',': -11.201819,
                   '.': -0.0002032312,
                   '._': -10.427007,
                   ';': -11.053568},
                  {'city': -4.0674944,
                   'code': -4.136033,
                   'country': -8.086574,
                   'name': -0.03789256,
                   'state': -5.7901697},
                  {'\n': -0.2238958,
                   ' ;': -6.626109,
                   ',': -4.696664,
                   ';': -1.7557704,
                   ';;': -4.2292967},
                  {'H': -4.33622,
                   'LIM': -4.756727,
                   'ORDER': -0.024902489,
                   'Order': -7.5749645,
                   'UN': -7.2634993},
                  {'\n': -10.746175,
                   ' BY': -0.00012885693,
                   ' By': -10.363482,
                   ' DES': -11.121542,
                   ' by': -10.961595},
                  {' 2': -5.907744,
                   ' COUNT': -0.066835925,
                   ' SUM': -4.7883916,
                   ' T': -4.6690125,
                   ' count': -3.2652612},
                  {' (': -2.9962606,
                   ' (*': -0.075426966,
                   ' (,': -5.552951,
                   '(': -4.0909796,
                   '(*': -7.2570295},
                  {' )': -10.390939,
                   ')': -0.00071809726,
                   '),': -8.759587,
                   ');': -7.7867575,
                   ')]': -9.766946},
                  {'\n': -5.014674,
                   ' >': -9.651772,
                   ' >=': -9.596093,
                   ' ASC': -8.931132,
                   ' DES': -0.0072861654},
                  {'\n': -10.63857,
                   ' C': -11.866329,
                   'C': -4.053034e-05,
                   'CR': -12.570733,
                   'CRIPTION': -12.932566},
                  {'\n': -0.0041814516,
                   ',': -7.9741197,
                   ';': -5.663344,
                   ';;': -9.231906,
                   'LIM': -9.967112},
                  {'FET': -9.384725,
                   'FROM': -9.551442,
                   'LIM': -0.0019280193,
                   'Limit': -6.460319,
                   'WHERE': -10.468697},
                  {'IT': -7.879425e-05,
                   'ITE': -9.581973,
                   'ITED': -12.519359,
                   'ITER': -13.322801,
                   'it': -13.458399},
                  {' 1': -0.93222916,
                   ' 10': -0.5222331,
                   ' 100': -6.517356,
                   ' 20': -6.200145,
                   ' 5': -6.9367085},
                  {'': -8.209126, ';': -0.124065764, ';;': -2.2122483},
                  {'': -0.06543838, ';': -7.274155, ';;': -8.897782},
                  {'': -12.475255,
                   ' <': -14.629335,
                   ')<': -14.611767,
                   '.<': -14.793266,
                   '<': -5.3644035e-06},
                  {'': -13.036408,
                   '|': -3.004029e-05,
                   '|<': -12.599091,
                   '|>': -13.177621},
                  {' end': -12.9238205,
                   'END': -12.382611,
                   'SQL': -13.151492,
                   'end': -0.00072941394,
                   'sql': -7.2455454},
                  {'inee': -18.909948,
                   '|': -19.699883,
                   '|<': -17.49499,
                   '|=': -15.738793,
                   '|>': -2.3841855e-07}]}

In [162]:
top_logprobs = ans['choices'][0]['logprobs']['top_logprobs']
tokens = ans['choices'][0]['logprobs']['tokens']

In [163]:
tokens = tokens[:15]

In [164]:
import numpy as np

In [165]:
logprobs

{'|>': 0.9999999,
 '|=': 1.2837685e-07,
 '|<': 2.3619894e-08,
 '|': 6.625713e-09,
 'inee': 2.785301e-09}

In [166]:
values = softmax(list(logprobs.values()))
logprobs = {k: v for k, v in zip(logprobs.keys(), values)}

In [167]:
dot = graphviz.Digraph(comment='Token Probabilities')

dot.attr(rankdir='same')
ith = 0
# Adicionar nós e arestas com pesos
for (i, token), logprobs in zip(enumerate(tokens[:-1]), top_logprobs[1:]):
    ith += 1
    next_token = tokens[i + 1]
    # logprobs = top_logprobs[i]
    values = softmax(list(logprobs.values()))
    logprobs = {k: v for k, v in zip(logprobs.keys(), values)}
    chosen_logprob = logprobs.get(next_token, None)
    
    length = len(logprobs)
    for j, (other_token, logprob) in enumerate(logprobs.items()):
        if other_token != next_token:
            dot.node(f'{other_token}_{i+1}', repr(other_token))
            # Adicionar aresta com outras probabilidades
            dot.edge(f'{token}_{i}', f'{other_token}_{i+1}', label=f'{logprob:.2f}', color='blue')

        if chosen_logprob is not None and length // 2  == j:
            # Adicionar aresta com a probabilidade do token escolhido
            dot.node(f'{next_token}_{i+1}', repr(next_token))
            dot.edge(f'{token}_{i}', f'{next_token}_{i+1}', label=f'{chosen_logprob:.2f}', color='red')
            chosen_logprob = None


# Renderizar o grafo e salvar em um arquivo
dot.render('token_probabilities_graph', format='png', cleanup=True)

# Mostrar o caminho do arquivo gerado
print("O grafo foi salvo como 'token_probabilities_graph.png'")

O grafo foi salvo como 'token_probabilities_graph.png'